html {
  text-align: center;
}

footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgrey;
}

body {
  font-family: helvetica;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

main p {
  font-size: 14px;
}

.header {
  background: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.index {
  color: white;
  font-size: 18px;
  line-height: 100%;
}
