footer {
  text-align: left;
}

html {
  text-align: center;
}

.broadimg {
  background-image: url("../images/the-flatiron-building.png");

}

.index {
  list-style-type: none;
  line-height: 150%;
}
