footer {
  text-align: left;
}

html {
  text-align: center;
}

body {
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index {
  color: white;
  font-size: 18px;
  line-height: 100%;
}
